<launch>
  <node name="beacon_detector_node" pkg="localizer" type="beacon_detector_node" output="screen">
    <rosparam file="$(find conf)/launch/navigation/localizer/beacon_detector/beacons_info.yaml" command="load"/>
    <rosparam file="$(find conf)/launch/navigation/localizer/beacon_detector/matching_params.yaml" command="load"/>
  </node>
</launch>