<launch>

    <arg name="serial_port" default="/dev/serial0"/>
    <arg name="baud_rate"  default="230400"/>
    <arg name="frame_id"   default="laser"/>

    <node pkg="hls_lfcd_lds_driver" type="hlds_laser_publisher" name="hlds_laser" output="screen">
        <param name="port"      value="$(arg serial_port)"/>
        <param name="baud_rate" value="$(arg baud_rate)"/>
        <param name="frame_id"  value="$(arg frame_id)"/>
    </node>

    <!-- TF fixa base_link -> laser -->
    <arg name="laser_xyz"  default="0 0 0.15"/>   <!-- 15 cm -->
    <arg name="laser_rpy"  default="0 0 0"/>      <!-- sem rotação -->
    
    <node pkg="tf" type="static_transform_publisher" name="laser_tf"
          args="$(arg laser_xyz) $(arg laser_rpy) base_link $(arg frame_id) 100"/>
    
</launch>