<launch>

    <node pkg="navigation_controller" type="navigation_controller_node" name="navigation_controller_node" output="screen">
        <rosparam file="$(find conf)/launch/navigation/navigation_controller/route.yaml" command="load"/>
        <rosparam file="$(find conf)/launch/navigation/navigation_controller/navigation_parameters.yaml" command="load"/>
    </node>
    
</launch>
