<launch>
      <arg name="world_file" default="$(find simulation_stage)/worlds/factory_floor.world"/>
      <arg name="map_file"  default="$(find simulation_stage)/worlds/factory_map.yaml"/>
      <arg name="rviz_config" default="$(find simulation_stage)/hmi/rviz/fdpo_simulation.rviz"/>

      <param name="/use_sim_time" value="true"/>

      <node pkg="stage_ros" type="stageros" name="stage"
            args="$(arg world_file)"/>

      <node pkg="map_server" type="map_server" name="map_server"
            args="$(arg map_file)"/>

      <node pkg="rviz" type="rviz" name="rviz" output="screen" required="false"
            args="-d $(arg rviz_config)"/>

      <node pkg="beacon_detector" type="beacon_detector_node" name="beacon_detector_node">
      	     <rosparam file="$(find beacon_detector)/launch/beacons_info.yaml" command="load"/>
      </node>

	<!-- Hack temporário: map = odom -->
	<node pkg="tf" type="static_transform_publisher" name="map_to_odom_identity" args="0 0 0  0 0 0  map odom 100"/>
</launch>
