<launch>
      <arg name="world_file" default="$(find simulation_stage)/worlds/factory_floor.world"/>
      <arg name="map_file"  default="$(find simulation_stage)/worlds/factory_map.yaml"/>
      <arg name="rviz_config" default="$(find simulation_stage)/hmi/rviz/fdpo_simulation.rviz"/>

      <param name="/use_sim_time" value="true"/>

      <node pkg="stage_ros" type="stageros" name="stage"
            args="$(arg world_file)"/>

      <node pkg="map_server" type="map_server" name="map_server"
            args="$(arg map_file)"/>

      <node pkg="rviz" type="rviz" name="rviz" output="screen" required="false"
            args="-d $(arg rviz_config)"/>

      <node name="beacon_detector_node" pkg="localizer" type="beacon_detector_node" output="screen">
            <rosparam file="$(find localizer)/launch/beacon_detector/beacons_info.yaml" command="load"/>
            <rosparam file="$(find localizer)/launch/beacon_detector/matching_params.yaml" command="load"/>
      </node>
      
      <node name="localizer_node" pkg="localizer" type="localizer_node" output="screen"/>

	<!-- Hack temporário: map = odom -->
	<node pkg="tf" type="static_transform_publisher" name="map_to_odom_identity" args="0 0 0  0 0 0  map odom 100"/>
</launch>
